<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @sentence.content %>
</p>

<p>
  <strong>User:</strong>
  <%= @sentence.user_id %>
</p>

<%= image_tag ("xkcd/#{@sentence.image}"), class: "story-image"%>

<%= link_to 'Edit', edit_sentence_path(@sentence) %> |
<%= link_to 'Back', sentences_path %>
