<%=form_for(@story) do |f|%>
  <% if @story.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@story.errors.count, "error") %> prohibited this story from being saved:</h2>

      <ul>
      <% @story.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Title %>
    <%= f.text_field :name, :class=>"form-control first_input" %>
  </div>

  <%= f.hidden_field :user_id, :value => @user %>

  <div class="actions">
    <%= f.submit @story.new_record? ? "Create" : "Update Book", :class => "btn btn-primary"%>
  </div>
<% end %>
