<p id="notice"><%= notice %></p>
<% if params[:search] && @stories.blank? %>
  <h4>There are no books containing the term <%= params[:search] %>.</h4>
<% end %>
<div class = "background-image">
  <h1 class ="home-title">Collaborative Book writing</h1>
</div>
<div class="container">
  <h1 class="main-title">Contribute to one of our most popular books</h1>
  <h2 class="sub-title">Or start writing your own</h2>
  <div class="row">
    <button class="btn btn-primary add-book"><span class ="btn-content">New Book <span class="glyphicon glyphicon-book"></span></span></button>
  </div>
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <%= form_tag(stories_path, :method => "get", id: "search-form") do %>
        <%= text_field_tag :search, params[:search], placeholder: "Search Books", :class=>"form-control search-bar" %>
        <%= submit_tag "Search", :name => nil, :class=>"btn col-md-12"%>
      <% end %>
    </div>
  </div>
  <ul class="story-list" id="stories">
    <%= render @stories %>
  </ul>

  <div class="howitworks">
    <div class="col-xs-12">
      <h1 class="main-title">How it works</h1>
    </div>
    <div class="col-xs-12 instructions">
      <div class="col-xs-4 step">
        <div class="col-xs-12">
          <%= image_tag("community.jpg", :class => "howimage") %>
        </div>
        <div class="col-xs-12 howtitle">
          <h4>Start a new book</h4>
        </div>
        <div class="col-xs-12 howtext">
          <p>You have a great book idea and have always wanted to publish a book? Start writing today and let talented authors from around the world contribute to your success</p>
        </div>
      </div>
      <div class="col-xs-4 col-xs-offset-0 step">
        <div class="col-xs-12">
          <%= image_tag("collaboration.jpg", :class => "howimage") %>
        </div>
        <div class="col-xs-12 howtitle">
          <h4>Contribute to an exisiting book</h4>
        </div>
        <div class="col-xs-12 howtext">
          <p>After a new book is published, all users can now write the next part of the book. Everyone votes on the submissions and the first contribution to receive more than 50 up votes, is added to the book. Users then compete for the next section of the book and so on...</p>
        </div>
      </div>
      <div class="col-xs-4 col-xs-offset-0">
        <div class="col-xs-12">
          <%= image_tag("publish.jpg", :class => "howimage") %>
        </div>
        <div class="col-xs-12 howtitle">
          <h4>Book is published</h4>
        </div>
        <div class="col-xs-12 howtext">
          <p>Once the book is published. Every contributor receives a free paper copy. Any profits from the sale of the book are split amongst all contributors.</p>
        </div>
      </div>
    </div>




  </div>



  <br>
  <%= render 'dialog'%>

</div>
