<p id="notice"><%= notice %></p>
<div class="container">
  <h1 class="book-title title"><%= @story.name %></h1>
  <h4 class="book-author"><%= @story.user.email %></h4>
  <%= link_to stories_path, :class=> "btn btn-primary back" do%>
  <span class="btn-content">Back</span>
  <%end%></p>
  <%= link_to new_story_sentence_path(@story) , :class=> "btn btn-primary contribute" do%>
  <span class="btn-content">Contribute</span>
  <%end%></p>
  <div class="story-content col-xs-12">
    <% @confirmed.each do |sentence| %>
      <%= render partial: 'votes/voter', locals: { sentence: sentence, story: @story } %>
      <div class="row">
        <div class="col-xs-9">
          <%= sentence.content%>
        </div>
        <div class="col-xs-1">
          <%= image_tag(sentence.user.avatar.url(:thumb), :class=>"user-image") %>
        </div>
      </div>
      <br>
    <% end %>
    <% @unconfirmed.each do |sentence| %>
      <%= render partial: 'votes/voter', locals: { sentence: sentence, story: @story } %>
      <div class="row">
        <div class="col-xs-9">
          <%= sentence.content%>
        </div>
        <div class="col-xs-1">
          <%= image_tag(sentence.user.avatar.url(:thumb), :class=>"user-image") %>
        </div>
      </div>
      <br>
    <% end %>
  </div>

</div>
