<h2 class="text-center">Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="row">
    <div class="field form-group">
      <%= f.label :email, :class=>"col-md-2 col-md-offset-1"%>
      <div class="col-md-5">
        <%= f.email_field :email, autofocus: true, :class=>"form-control" %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="field form-group">
      <%= f.label :password, :class=>"col-md-2 col-md-offset-1" %>
      <div class="col-md-5">
        <%= f.password_field :password, autocomplete: "off", :class=>"form-control" %>
      </div>
    </div>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="row">
      <div class="field form-group">
        <%= f.check_box :remember_me, :class=>""%>
        <%= f.label :remember_me, :class=>"col-md-2 col-md-offset-3" %>
      </div>
    </div>
  <% end -%>

  <div class="actions text-center">
    <%= f.submit "Log in", :class=>"btn text-center" %>
  </div>
<% end %>

<div class="text-center">
  <%= render "devise/shared/links" %>
</div>
