<div class="text-center col-xs-1">
  <% if sentence.points > 0 %>
    <div class="width: 100%"><h5 style="margin-top: 0; margin-bottom: 0"><strong>Confirmed</strong></h5></div>
  <% else %>
    <% if current_user %>
      <div class="width: 100%"><%= link_to " ", story_sentence_up_vote_path(story, sentence), class: 'glyphicon glyphicon-chevron-up', method: :post, style: "margin-right: 0; margin-left: 0" %></div>
    <% else %>
      <div class="width: 100%"><%= link_to " ", new_user_session_path, class: 'glyphicon glyphicon-chevron-up', method: :post, style: "margin-right: 0; margin-left: 0" %></div>
    <% end %>
    <div class="width: 100%"><h3 style="margin-top: 0; margin-bottom: 0"><strong><%= sentence.points%></strong></h3></div>
    <% if current_user %>
      <div class="width: 100%"><%= link_to " ", story_sentence_down_vote_path(story, sentence), class: 'glyphicon glyphicon-chevron-down', method: :post, style: "margin-right: 0; margin-left: 0" %></div>
    <% else %>
      <div class="width: 100%"><%= link_to " ", new_user_session_path, class: 'glyphicon glyphicon-chevron-down', method: :post, style: "margin-right: 0; margin-left: 0" %></div>
    <% end %>
  <% end %>
</div>
